*{
    font-family: 'Courier New', Courier, monospace;
}
*::selection{
    background: black;
    color: white;
}
#movie{
    color:grey;
}
body{
    margin:auto;
    padding: 10px;
    border: 5px black solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;
    width: 60%;
    height: 60%;
}
form > button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
nav form{
    display: inline;
}
form > button{
    height: 30px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    border: 2px black solid;
    border-radius: 2px;
}
h1{
    font-size: 40px;
}
p{
    border: 2px grey dotted;
    border-radius: 2px;
    font-size: 25px;
    font-weight: 700;
}
