*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    cursor:crosshair;
    margin: auto;
    background-color: rgb(27, 27, 27);
    border:10px white solid;
    border-radius: 3px;
    box-shadow: white 0px 15px 15px, white 0px -6px 20px, white 0px 2px 4px, white 0px 7px 7px, white 0px -3px 5px;
    width: 60%;
    height: 60%;
}
#info1,#info1head{
    border: black 2px solid;
    padding:5px;
    font-size: 20px;
}

h1{
    font-size: 40px;
    border-bottom: 3px black solid;
}

#boxer{

    background-color: white;
    border:5px black solid;
    padding:5px;
}

form > button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    border: 2px black solid;
    border-radius: 2px;
}
form > button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

nav form{
    display: inline;
}
