*{
    font-family: 'Courier New', Courier, monospace;
}
#head{
    font-size: 45px;
}
form{
    display: inline-block;
}
#name{
    font-size: 40px;
}
*::selection{
    background: black;
    color: white;
}
h1{
    border-bottom: 3px black solid;
}

h2{
    text-decoration: black underline ;
}
form > button{
    height: 30px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    border: 2px black solid;
    border-radius: 2px;
}
form > button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
body{
    cursor:crosshair;
    background-color: rgb(27, 27, 27);
    border:7px white solid;
    box-shadow: white 0px 15px 15px, white 0px -6px 20px, white 0px 2px 4px, white 0px 7px 7px, white 0px -3px 5px;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    height: 80%;
}
#main{
    margin:auto;
    padding: 10px;
    border: 5px black solid;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;
}
    
nav li{
    font-size: 17px;
}
body > div,nav{
    border: 2px black dotted;
    margin: 1em;
    padding: 2em;
}
#main>div:hover,nav:hover{
    box-shadow: 0px 0px 3px 3px black;
}
div > div{
    border: 2px black dotted;
    margin: 1em;
    padding: 1em;
    font-size: 16px;
    font-weight:700;
}
#experience{
    display: inline-block;
    width: 50%;
    height: 60%;
}
#education{
    display: inline-block;
    transform: translateY(-5em);
    width: 30%;
    height: 50%;
}
nav{

    display: inline-block;
    width: 30%;
    height: 50%;
    font-weight: 600;

}
#summary{
    display: inline-block;
    width: 50%;
    height: 50%;
    font-size: 16px;
    font-weight: 600;
}

#top{
    border: 2px black dotted;
    padding: 1em;
    margin: 1em;
}